<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">   
  
  <title>Voyager - Home</title>

  <link rel="stylesheet" href="./static/indexStyle.css" />

</head>
<body>
   <main> 
     <h1 class = "title">VOYAGER</h1>

     <div class = "buttons"> 
      <a href = "/signup" class="btn"><button class="student btn">Students</button></a>
      <a href = "/teacherSignup"  class="btn"><button class="teacher btn">Teachers</button></a>

     </div>
   </main>
</body>

<footer>
  Made with ❤️ by Boba Squad.
</footer>

</html>